.buttonStyles {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--darkBlue);
  background: var(--orange);
  border: none;
}

.buttonStyles:hover {
  color: var(--veryLightBlue);
  background: var(--darkBlue);
}

.buttonStyles:disabled {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .buttonStyles {
    padding: 1rem 1.5rem;
  }
}
