@import url('./theme.css');

.details {
	max-width: 800px;
}

.pageTitle {
	margin-bottom: 1rem;
}

.about .details a {
	text-decoration: underline;
}

.stars {
	display: block;
	margin-bottom: 3rem;
	font-size: 1.2rem;
	text-align: center;
}

.downloadLink {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9rem;
	letter-spacing: 1.5px;
	display: inline-block;
	padding-bottom: 0.1rem;
	border-bottom: 1px solid var(--grey);
	margin-top: 2rem;
}

.downloadIcon {
	margin-right: 0.5rem;
}
