@import url('./theme.css');

.authorCard {
	padding: 1.5rem 1rem;
	background: var(--veryLightBlue);
	flex-direction: column;
	text-align: center;
	margin: 2rem 0;
}

.copy {
	margin-left: 1rem;
	flex: 1;
}

.authorName {
	font-size: 1.5rem;
}

.authorName {
	font-size: 1.1rem;
}

.jobTitle {
	color: var(--darkBlue);
}

.authorAvatar {
	border-radius: 50%;
}

.avatarBox {
	width: 100px;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.authorCard {
		flex-direction: row;
		text-align: left;
	}

	.avatarBox {
		margin-bottom: 0;
	}
}
