@import url('./global.css');

.buttonStyles {
	padding: 0.6rem 1rem;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: var(--darkBlue);
	background: var(--orange);
	border: none;
}

.buttonStyles:hover {
	color: var(--veryLightBlue);
	background: var(--darkBlue);
}

.buttonStyles:disabled {
	opacity: 0.5;
}

@media (min-width: 768px) {
	.buttonStyles {
		padding: 0.8rem 1.5rem;
	}
}
