@import url('./theme.css');

.contactInner {
	max-width: 35rem;
}

.emailLink {
	font-weight: 700;
}

.socials {
	margin-top: 4rem;
}

.userEntries {
	padding-top: 1.5rem;
}

.editButton {
	padding: 0.5rem;
	background: var(--lightBlue);
	color: var(--grey);
	border: none;
	margin-right: 0.5rem;
}

.fieldValue {
	margin-left: 0.5rem;
}

.profileLinks {
	display: flex;
	padding: 1rem 0;
	flex-wrap: wrap;
}

.profile {
	margin-right: 1rem;
}

.profileLink {
	padding: 0.4rem 1rem;
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	color: var(--veryLightGrey);
}

.networkName {
	text-transform: uppercase;
	font-size: 0.8rem;
	margin-left: 0.5rem;
}

.github {
	background: var(--githubGreen);
}

.github:hover {
	background: var(--green);
}

.linkedIn {
	background: var(--linkedinBlue);
}

.twitter {
	background: var(--twitterBlue);
}

.profileLink:hover {
	color: var(--veryLightGrey);
	opacity: 0.8;
}

.editIcon {
	margin-top: 0.5rem;
}

.messageGroup {
	display: flex;
	flex-wrap: wrap;
}
