@import url('./theme.css');

.cta {
	background: var(--veryLightBlue);
}

.ctaInner {
	margin: 2rem 0;
	position: relative;
	padding: 2.5rem 1rem;
	max-width: 35rem;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.ctaInner::before {
	content: '';
	width: 2rem;
	height: 0.5rem;
	background: var(--orange);
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.ctaHeading {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.ctaLink {
	font-weight: 700;
}

@media (min-width: 768px) {
	.ctaInner {
		padding: 3rem 2rem;
		margin: 1rem 0;
	}

	.ctaInner::before {
		left: 2rem;
	}
}
