@import url();
.formGroup {
	border-bottom: 1px solid var(--lightGrey);
	margin: 1.5rem 0 1rem 0;
}

.errorHighlight {
	color: var(--lightRed);
}

.errorHighlight::placeholder {
	color: var(--lightRed);
}

textarea,
input {
	background: none;
	border: none;
	width: 80%;
	padding: 0.5rem 0;
	margin-left: 0.5rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-text-fill-color: var(--grey);
	-webkit-box-shadow: 0 0 0px 1000px var(---white) inset;
	box-shadow: 0 0 0px 1000px var(---white) inset;
	transition: background-color 5000s ease-in-out 0s;
}

textarea:focus,
input:focus {
	outline: none;
}

textarea::-webkit-scrollbar {
	display: none;
}

label {
	font-size: 0.7rem;
	display: block;
	width: 100%;
	opacity: 0.8;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
