@import url('./theme.css');

.hero {
	padding: 0;
}

.heroInner {
	min-height: calc(100vh - 65px); /* change to dynamic values */
	padding: 2rem 1rem;
}

.heroHeading {
	font-size: 1.8rem;
	margin-bottom: 0.7rem;
}

.highlight {
	color: var(--lightYellow);
}

.heroCopy {
	font-size: 1.1rem;
	order: 2;
	text-align: center;
}

.heroCta {
	margin-top: 2rem;
}

.heroImage {
	max-width: 350px;
	margin: 0.5rem auto;
	order: 1;
	position: relative;
	padding: 2rem;
}

.heroImage::after {
	content: '';
	width: 100%;
	height: 5rem;
	background-image: url('../images/dots.png');
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (min-width: 768px) {
	.heroCopy {
		flex-basis: 40%;
		font-size: 1.2rem;
		order: 1;
		text-align: left;
	}

	.heroHeading {
		font-size: 2rem;
		white-space: nowrap;
	}

	.heroImage {
		order: 2;
		padding: 0;
	}

	.heroImage::after {
		height: 100%;
		right: -3rem;
		bottom: -3rem;
	}

	.heroCta {
		margin-top: 8rem;
	}
}

@media (min-width: 995px) {
	.heroHeading {
		font-size: 2.5rem;
	}
}
