@import url('./theme.css');

.navBar {
	padding: 1.2rem 0;
	background: var(--deepBlue);
	position: sticky;
	top: 0;
	z-index: 10;
}

.logoAnchor {
	width: 150px;
}

.navMenu {
	width: 0.01px;
	overflow: hidden;
	transition: 0.1s width;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	background: rgba(11, 13, 18, 0.995);
}

.expand {
	width: 100%;
	padding: 5rem 1.5rem;
}

.toggleButton {
	background: none;
	border: none;
	position: relative;
	z-index: 999;
	width: 2rem;
}

.toggleButton:focus {
	outline: none;
}

.closeIcon {
	width: 1.5rem;
	display: inline-block;
}

.navItem {
	margin: 1rem 0;
}

.navLink {
	padding: 0.2rem 0;
	text-transform: uppercase;
	font-weight: 700;
}

.activeLink {
	color: var(--white);
}

@media (min-width: 768px) {
	.navBar {
		padding: 1.5rem 0;
	}
	.logoAnchor {
		width: 180px;
	}
	.expand {
		width: 35rem;
		padding: 5rem 7.5% 1rem 2rem;
	}
}
