@import url('./theme.css');

.navBar {
	padding: 1rem 0;
	background: var(--veryLightBlue);
	position: sticky;
	top: 0;
	z-index: 10;
}

.logoAnchor {
	width: 120px;
}

.navMenu {
	width: 0.01px;
	overflow: hidden;
	transition: 0.1s width;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	background: var(--darkBlue);
}

.expand {
	width: 100%;
	padding: 5rem 1.5rem;
}

.toggleButton {
	background: none;
	border: none;
	position: relative;
	z-index: 999;
}

.toggleButton span {
	display: inline-block;
}

.hamburgerIconBox {
	width: 1.5rem;
}

.closeIconBox {
	width: 1.2rem;
}

.toggleButton:focus {
	outline: none;
}

.navItem {
	margin: 1rem 0;
}

.navLink {
	padding: 0.2rem 0;
	text-transform: uppercase;
	color: var(--lightBlue);
	font-size: 0.9rem;
	font-weight: 700;
}

.navLink:hover,
.activeLink {
	color: var(--veryLightBlue);
}

@media (min-width: 768px) {
	.hamburgerIconBox {
		width: 2rem;
	}

	.closeIconBox {
		width: 1.5rem;
	}
	.logoAnchor {
		width: 150px;
	}
	.expand {
		width: 50%;
		padding: 5rem 7.5% 1rem 2rem;
	}
}
