@import url('./theme.css');

.optin {
	padding: 1.5rem 1rem;
	background: var(--veryLightBlue);
	margin: 2rem 0;
	text-align: center;
}

.formTitle {
	font-size: 1.2rem;
}

.guarantee {
	display: block;
	margin-top: 0.5rem;
}

@media (min-width: 768px) {
	.optin {
		text-align: left;
	}

	.formTitle {
		font-size: 2rem;
	}
}
