@import url('./theme.css');

.projectList {
	margin: 1rem 0;
}

.projectCard {
	position: relative;
	margin: 3% auto;
}

.projectSummary {
	position: absolute;
	top: 0;
	color: var(--deepBlue);
	background: var(--lightYellow);
	z-index: 1;
	height: 0.01px;
	width: 100%;
	padding: 0 1rem;
	overflow: hidden;
	transition: 0.2s;
}

.projectCard:hover .projectSummary {
	height: 100%;
	padding: 1rem;
}

.projectName {
	color: var(--deepBlue);
	text-transform: uppercase;
	font-size: 0.7rem;
	padding: 0.2rem 0.5rem 0.2rem 4rem;
	position: relative;
	z-index: 2;
	background: var(--copyLight);
	letter-spacing: 1px;
}

.projectCard:hover .projectName {
	background: var(--lightYellow);
}

/* .circle {
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	top: 0.25rem;
} */

.barIcon {
	/* composes: circle; */
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	top: 0.3rem;
	left: 0.5rem;
	background: var(--lightRed);
}

.barIcon::after {
	/* composes: circle; */
	content: '';
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	left: 1rem;
	background: var(--yellow);
}

.barIcon::before {
	/* composes: circle; */
	content: '';
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	left: 2rem;
	background: var(--green);
}

.tagList {
	margin: 1rem 0;
}

.tag {
	font-size: 0.7rem;
	display: inline-block;
	margin: 0.5rem;
	padding: 0.2rem 0.4rem;
	text-transform: uppercase;
	box-shadow: 0 -1px 2px;
}

.more {
	text-decoration: underline;
	font-weight: 700;
	font-size: 0.8rem;
}

@media (min-width: 768px) {
	.projectCard {
		flex-basis: 48%;
		margin: 2% 0;
	}
}
