@import url('./theme.css');

.inner {
	max-width: 800px;
}

.projectLinks {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
}

.linkBox {
	margin: 1rem 1rem 1rem 0;
}

.projectDetails h2 {
	margin-top: 2rem;
}

.projectDetails ul {
	list-style-type: square;
	padding: 0.5rem 0 0 2rem;
}

.projectDetails a {
	text-decoration: underline;
}

.linkIcon {
	margin-right: 0.5rem;
}

@media (min-width: 768px) {
	.linkBox {
		margin-bottom: 2rem;
	}
}
