.postContent {
  max-width: 800px;
}

.postHeader {
  padding: 2rem 0;
}

.authorAnchor {
  font-weight: 700;
}

.postTag {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.postTagButton {
  color: var(--grey);
  padding: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  background: none;
  transition: 0.3s;
  background: var(--lightBlue);
  border: none;
}

.timeToRead {
  font-size: 0.8rem;
}

.tagList {
  margin-top: 0.5rem;
}

.postBody {
  margin-bottom: 3rem;
}
