.recommends {
  margin: 2rem 0;
  align-items: stretch;
  flex-direction: column;
}

.recommendLink {
  padding: 1rem;
  background: var(--veryLightBlue);
  border: 1px solid var(--veryLightBlue);
  margin-bottom: 1rem;
}

.recommendLink:hover {
  border-color: var(--baseBlue);
  color: var(--baseBlue);
}

.direction {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

.title {
  color: var(--darkBlue);
  display: block;
}

@media (min-width: 768px) {
  .recommends {
    flex-direction: row;
  }

  .recommendLink {
    flex-basis: 48%;
    margin: auto 0;
  }
}
