.postList {
  margin: 2rem 0;
}

.post {
  margin: 1.5rem 0;
  border-bottom: 1px solid var(--lightGrey);
  padding-bottom: 1rem;
}

.tags {
  margin: 2rem 0;
}

.tag {
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0;
}

.tagBtn {
  color: var(--grey);
  padding: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  background: none;
  transition: 0.3s;
  background: var(--lightBlue);
  border: none;
}

.activeBtn,
.tagBtn:hover {
  background: var(--baseBlue);
  color: var(--veryLightBlue);
}

.intro {
  margin-top: 1rem;
}

.moreLink {
  font-weight: 700;
}
