.githubLink {
  font-weight: 700;
}

.tags {
  margin: 2rem 0;
}

.tag {
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0;
}

.tagBtn {
  color: var(--grey);
  padding: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  background: none;
  transition: 0.3s;
  background: var(--lightBlue);
  border: none;
}

.activeBtn,
.tagBtn:hover {
  background: var(--baseBlue);
  color: var(--veryLightBlue);
}

.projectList {
  position: relative;
}

.filtering {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.filterStatus {
  text-transform: uppercase;
  white-space: nowrap;
  animation: filtering 2s steps(50, end);
  overflow: hidden;
  width: 100%;
}

@keyframes filtering {
  from {
    width: 0;
  }
}
